<div class="container bg-container">
    <br>
    <br>
    <br>
    <div class="gabriels-header">
        <h4>
            <button class="btn btn-primary" (click)="prevWeek()">
                < PREV WEEK
            </button>
            &nbsp;&nbsp;&nbsp;<strong>LIST OF EVENTS</strong>&nbsp;&nbsp;&nbsp;
            <button class="btn btn-default" (click)="nextWeek()">
                NEXT WEEK >
            </button> 
        </h4>
        <p *ngIf="lastMonday"><b>From: {{lastMonday | date }}</b></p>   
        <p *ngIf="nextSunday"><b>To  : {{nextSunday | date }}</b></p>    
    </div>
    <br>
    <br>
    <br>
    <div *ngIf="isLoading === false">
        <pre *ngIf="displayEvents.length > 0">
            <table class="table table-bordered">
                <thead>
                </thead>
                <tbody>
                    <tr *ngFor="let e of displayEvents; let i = index">
                        <td>{{e.activityCategory.activityDescription}}</td>
                        <td>{{e.eventFromDate | date:'MMM d, y, h:mm:ss a'}} to {{e.eventToDate | date:'MMM d, y, h:mm:ss a'}}</td>
                        <td>{{e.createdBy}}</td>
                    </tr>          
                </tbody>
            </table>
        </pre>
        <div *ngIf="displayEvents.length < 1" class="gabriels-header">
            <pre>
                <h1><b>No</b> events to display</h1>
            </pre>
        </div>
    </div>
    <div *ngIf="isLoading" class="gabriels-header">
        <img src="assets/images/loader.gif" alt="spin-medhat">
        <h1>LOADING DATA</h1>
    </div>
</div>


